<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
<title>SKY空间</title>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation" th:fragment="footbar">
		<div class="container">
			<ul class="nav navbar-nav">
				<li><a href="http://www.runoob.com" target="_blank"
					class="navbar-link">菜鸟教程</a></li>
				<li><a href="http://www.ibeifeng.com/tech_job.html"
					target="_blank" class="navbar-link">北风网</a></li>
				<li><a href="https://www.baidu.com" target="_blank"
					class="navbar-link">阿里云</a></li>
				<li><a href="https://ke.qq.com" target="_blank"
					class="navbar-link">腾讯课堂</a></li>
				<li><a href="https://jquery.com/" target="_blank"
					class="navbar-link">JQuery教程</a></li>
				<li><a href="https://v3.bootcss.com/" target="_blank"
					class="navbar-link">Bootstrap教程</a></li>
				<li><a href="http://hadoop.apache.org/" target="_blank"
					class="navbar-link">Hadoop教程</a></li>
				<li><a href="https://spring.io/" target="_blank"
					class="navbar-link">Spring教程</a></li>
				<li><a href="https://open.weixin.qq.com/" target="_blank"
					class="navbar-link">微信开放平台</a></li>
			</ul>
		</div>
	</nav>
</body>
</html>
