<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
<title>SKY空间</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript">
	$(function() {
		reloadMyGoods();
	})
	function reloadMyGoods(param){
		$("#tlist").load("/goods/mygoods",param);
		$("#goodsListPanel").show();
		$("#goodsInfoPanel").hide();
	}
	
	function editGoods(obj) {
		//alert(obj + ":" + $(obj).data("id"));
		$("#goodsInfoPanel").load("/goods/goodsinfo",{"id":$(obj).data("id")});
		$("#goodsListPanel").hide();
		$("#goodsInfoPanel").show();
	}

	function deleteGoods(obj) {
		alert(obj + ":" + $(obj).data("id"));
	}
	
	function searchGoods(){
		reloadMyGoods({"keycode":$("#keycode").val(),"keyname":$("#keyname").val()});
	}
</script>
</head>
<style>
.row {
	margin-top: 10px;
}
</style>
<body>
		<div class="panel panel-default"  id="goodsListPanel" style="margin-top: 10px;">
			<div class="panel-heading" style="padding: 10px 15px 0px;">
				<table class="table" style="padding: 3px 82px;">
					<tr>
						<td style="width: 45%;border-top: 0px solid #ddd;">
							<div class="input-group">
								<span class="input-group-addon">商品编码</span>
								<input type="text" class="form-control" id="keycode" placeholder="商品编码">
							</div>
						</td>
						<td style="width: 45%;border-top: 0px solid #ddd;">
							<div class="input-group">
								<span class="input-group-addon">商品名称</span>
								<input type="text" class="form-control" id="keyname" placeholder="商品名称">
							</div>
						</td>
						<td style="width: 20%;border-top: 0px solid #ddd;">
							<button type="button" class="btn btn-primary" onclick="searchGoods()">查询</button>
						</td>
					</tr>
				</table>
			</div>
			<div class="panel-body">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>图片</th>
							<th>商品编码</th>
							<th>商品名</th>
							<th>规格</th>
							<th>单位</th>
							<th>重量</th>
							<th>价格</th>
							<th>库存</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody id="tlist">
					</tbody>
				</table>
			</div>
		</div>
		<div id="goodsInfoPanel">
			
		</div>
</body>
</html>
