<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
<title>SKY空间</title>
</head>
<body>
	<tr th:each="goods:${goodsList}">
		<td><img style="height: 45px;" src="/static/img/tv.jpg"
			class="img-thumbnail"></td>
		<td th:text="*{goods.goodsCode}"></td>
		<td th:text="*{goods.goodsName}"></td>
		<td th:text="*{goods.spec}"></td>
		<td th:text="*{goods.unit}"></td>
		<td th:text="*{goods.weight}"></td>
		<td th:text="*{goods.price}"></td>
		<td th:text="*{goods.stock}"></td>
		<td>
			<button type="button" class="btn btn-default btn-xs" th:data-id="*{goods.id}" onclick="deleteGoods(this)">
				<span class="glyphicon glyphicon-remove"></span>
			</button>
			<button type="button" class="btn btn-default btn-xs" th:data-id="*{goods.id}" onclick="editGoods(this)">
				<span class="glyphicon glyphicon-edit"></span>
			</button>
		</td>
	</tr>
</body>
</html>
