<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
<title>SKY空间</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<style>
.row {
	margin-top: 10px;
}
</style>
<body>
	<div class="container" style="margin-top: 10px;">

		<div class="alert alert-info" style="text-align: center;">
			<h1>工单管理功能待开发.</h1>
		</div>
	</div>
</body>
</html>
